.WorkArea__ToolForm{
  width: 25%;
  max-width: 400px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	position: absolute;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	z-index: 99;
	top: 100px;
  left: 50px;
  text-align: center;
}
.WorkArea__ToolForm h4{
	margin: 0 0 5px 0;
	font-size: 24px;
	display: inline-block;
	user-select: none;
}
.Form__input{
  outline: none;
	border-radius: 5px;
	padding: 5px;
  height: 20px;
  border: 1px solid #ccc;
	width: calc(100% - 50px);
	margin: 20px;
}
.Form__input:focus{
  outline: none;
}
.Form__button{
  display: inline-block;
  width: max-content;
  padding: 0 10px;
  margin: 0 10px;
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid;
  border-color: rgba(96, 102, 114, 0.6);	
  border-radius: 6px;	
  cursor :pointer;
  user-select: none; 
  font-weight: 500;
}
.Form__button:active{
	background-color: rgba(96, 102, 114, 1);
}
.Error__message{
  color: red;
  font-size: 20px;
}
.Form__Close{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 10px 10px 0 0;
  float: right;
  cursor: pointer;
}
.Form__Close:active:before{
  background: rgb(96, 102, 114);;
}
.Form__Close:active:after{
  background: rgb(96, 102, 114);;
}
.Form__Close:before{
	content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: white;
  border-radius: 5px;
  transform: rotate(45deg);
}
.Form__Close:after{
	content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: white;
  border-radius: 5px;
  transform: rotate(-45deg);
}
.Form__Buttons__Block{
  margin: 20px 0 20px 0;
  display: block;
  bottom: 20px;
  align-content: center;  
}
.WorkArea__Point td{
  width: 45%;
  border: 1px solid white;
  word-break: break-all;
}

.WorkArea__Point td:last-child{
  font-size: 25px
}

.WorkArea__Point td:last-child:hover{
  background-color: rgba(96, 102, 114, 0.3);
  cursor: pointer;
}

.WorkArea__Point{
  width: 100%;
}

.WorkArea__PointCollection table{
  width: 100%;
  font-size: 14px;
  border: 1px solid white;
}

.WorkArea__PointCollection{
  height: 150px;
  border: 2px solid rgba(96, 102, 114, 0.6);	
  width: 90%;
  margin-left:5%;
  overflow: scroll;
}

.WorkArea__AddPoint input{
  outline: none;
  width: 20%;
  border-radius: 5px;
	padding: 5px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 2px;
}

.WorkArea__ChooseLayersTable table{
  width: 100%;
}

.WorkArea__ChooseLayersTable{
  max-height: 100px;
  overflow-y: auto;
}

.WorkArea__SelectBox{
  margin: 10px 20px;
  display: block;
  width: calc(100% - 40px);
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.WorkArea__AddPoint{
  margin: 10px;
}

.collapsableLabel{
  width: calc(100% - 20px);
  font-size: 20px;
  padding:5px 0 5px 20px;
  text-align: left;
  float: left;
  margin-top: 10px;
}

.select__Label{
  width: calc(100% - 20px);
  font-size: 20px;
  padding:5px 0 5px 20px;
  text-align: left;
  float: left;
  margin-top: 10px;
}

.collapsableLabel:hover{
  background-color: rgba(96, 102, 114, 0.3);
  cursor: pointer;
}

.collapsableBody{
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: inline-block;
  max-height: 250px;
  overflow-y: auto;
}

.collapsableBody table{
  width: 100%;
}

.collapsableLabel:before {
  font-family: 'Glyphicons Halflings';
  content: "\25bc";
  float: right;
  margin: 0 20px 0 0;
  transition: all 0.5s;
}
.collapsableLabel:before.active {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
} 

.WorkArea__backtext{
  font-size: 18px;
}

.WorkArea__ResultBottomLeft{
  position: fixed;
  left: 30%;
  top: 100px;
  width: 40%;
  max-width: 800px;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  transition: 2s left;
  max-height: 60%;
  overflow-y: hidden;
}

.WorkArea__ResultBottomLeft h5{
  font-size: 16px;
  margin: 20px 0;
}

.WorkArea__ResultBottomLeft span{
  font-size: 14px;
  float: left;
  display: inline;
}

.WorkArea__ResultBottomLeft div{
  margin: 0 0 20px 0;
}

.Form__FullScreen{
  display: block !important;
  position: absolute;
  padding: 0 !important;
  display: inline-block;
  right: 0;
	width: 20px;
  height: 20px;
  margin: 10px 10px 0 0 ;
	background-image: url("../../../assets/expand.png");
	background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	cursor: pointer;
}

.ResultText__Clip{
  color: lawngreen !important;
}

.ResultText__Intersect{
  color: cyan !important;
}

.Advice__Tooltip{
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  font-size: 16px;
  position: absolute;
  top: 150px;
  right: 10px;
  width: 200px;
  padding: 5px;
}

.ResultModal{
  font-size: 16px;
  text-align: left;
  padding: 0 5px;
  width: 100%;
}

.ResultModal tr td:last-child{
  display: inline-flex;
}

.ResultModal tr td span{
  padding-left: 20px;
}

.ResultModal tr td{
  vertical-align: text-top;

}

.ResultModal__PolygonVariant{
  font-size: 18px;
  font-weight: 600;
}

.ResultModal__Clip{
  padding-left: 20px;
  text-decoration: underline;
}

.ResultModal__Intersect{
  padding-left: 20px;
  text-decoration: underline;
}

.ResultModal__Area{
  padding-left: 20px;
  text-decoration: underline;
}

.ResultText__AreaId span:last-child{
  color: lawngreen;
}

.ResultText__AreaDiff span:last-child{
  color: orange;
}

.ResultModalBlock{
  max-height: 50vh;
  overflow-y: auto;
}

.ResultModalBlock::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.ResultModalBlock::-webkit-scrollbar
{
	width: 8px;
}

.ResultModalBlock::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.WorkArea__DeleteButton{
  font-size: 14px !important; 
  width: 20% !important;
}

.WorkArea__PolygonRename{
	width: 400px;
	min-height: max-content;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	position: absolute;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	z-index: 99;
	top: calc(50vh - 300px);
	left: calc(50vw - 250px);
	text-align: center;
}
.WorkArea__PolygonRename h5 {
	margin: 30px 0 10px;
}

.WorkArea__RenameText:hover{
  background-color: rgba(96, 102, 114, 0.3);
  cursor: default;
}